.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 2rem;
  color: #9ca3af; /* optional softer gray */
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

.attribution a:hover {
  text-decoration: underline;
}
